<div class="navbar-wagon">
  <h2 class="navbar-wagon-brand text-align">Add a new dose</h2>
</div>

<div class="banner" style="background-image: url(<%= image_path 'background-img2.jpg' %>)">
  <div class="banner-content">

<!-- <h1 class="title text-center">Add a new dose</h1> -->

<div class="form-container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="my-form"> <%= f.input :description %>
  <span> <%= f.association :ingredient %></span>
  <div class="text-center"><%= f.button :submit, class: "btn btn-success btn" %></div>
  </div>
<% end %>
</div>

<!-- <div class="footer">
  <div class="footer-copyright text-center">
    <i class="fa fa-heart"></i>
  </div>
</div -->




